.subcategory {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letterGroup ol {
    display: grid;
    background-color:lightgrey;
    padding:1rem;
}

.letterGroup h1 {
    text-transform: uppercase;
}
.letterGroup li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.letterGroup li:link {
    color: black;
}
.letterGroup li:hover {
    background-color: white;
}
.letterGroup li:active {
    color: darkolivegreen;
}
.letterGroup li:visited {
    color: gray;
}

main {
    margin-bottom: 10vh ;
}
.letterLinks {
text-transform: uppercase;
}

.letterLinks ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}
li a:link {
    color: black;
}
li a:hover {
    color: black;
}

.letterLinks a:link {
    color:darkolivegreen;

}

@media screen and (min-width:500px) {
    .category {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    main {
        margin-bottom: 10vh;;
    }
}