.subcategory {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subcategory {
    display: grid;
    background-color:lightgrey;
}
.subcategory:hover {
    background-color:lightsteelblue;
}


article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px 1fr));
}
section p{
    padding-left: 1rem;
}

main {
    margin-bottom: 10vh ;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}
li a:link {
    color: black;
}
li a:hover {
    color: black;
}

.letterLinks a:link {
    color:darkolivegreen;

}

@media screen and (min-width:500px) {
    .category {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    main {
        margin-bottom: 10vh;;
    }
}