.subcategory {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subcategory {
    display: grid;
    background-color:lightgrey;
}

.subcategory:hover {
    background-color:lightsteelblue;
}

.category p {
    padding-left: 2vw;
}

@media screen and (min-width:500px) {
    .category {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    main {
        margin-bottom: 10vh;;
    }
}