.main-img {
    max-width: 30%;
}
 
article #products-display {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px 1fr));
}

main {
    margin-bottom: 10vh;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkolivegreen;
    border-bottom: solid darkolivegreen;
    border-width: 0.5px;
}