body {
    display: grid;
    font-size: 100%;
}

header {
    margin:0;
}
nav {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5vh;
}

#generalul {
    list-style-type: none;
    margin: 5% 10% 5%;
    display:grid;
   padding: 0;
   grid-template-areas: 
   "h"
   "links";
   grid-gap: 1vh;
  justify-items: center;
}

#secondaryul {
    width:130%;
    list-style-type: none;
    padding:0;
    margin-left: -2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}


#logo-header {
    grid-area: h;
    width:30vw;
    height:10vh;
    align-items: flex-start;
}

a:link {
    text-decoration: none;
    color:darkslategrey;
}

a:active {
    text-decoration: none;
    color:darkslategrey;
}

a:visited {
    text-decoration: none;
    color:lightslategrey;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    color:lightseagreen;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    padding: 5% 10% 5% 10%;
    background-color:lightgray;
}
img {
    max-width: 100%;
    min-width: 30%;
}


h1 {
    font-family:'Times New Roman', Times, serif ;
}

@media screen and (min-width:600px) {
    #generalul {
        margin: 7% 5% 0% 0%;
        display:grid;
        grid-template-columns: 3fr 2fr;
      justify-content: baseline;
    }
    
    #logo-header {
        margin-right: 5%;
        align-self:center;
        margin-top: 0;
        margin-bottom: 10vh;
        }

    #secondaryul {
            list-style-type: none;
            padding:0;
            margin-left: -2rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: baseline;
        }
