body {
    display: grid;
    font-size: 1
00%;
}

header {
    margin:0;
}

 ul {
    display:grid;
    list-style-type: none;
   margin: 5% 10% 5%;
   padding: 0;
   grid-template-areas: 
   "h h h"
   "c p s";
   grid-gap: 1vh;
  justify-items: center;
}

nav {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


#logo-header {
grid-area: h;
width: 30vw;
height: 7vh;
background-image: url("/img/logo-black.svg");
background-repeat: no-repeat;
background-size: 100%;
background-position: center;
align-items: flex-start;
}

a:link {
    text-decoration: none;
    color:darkslategrey;
}

a:active {
    text-decoration: none;
    color:darkslategrey;
}

a:visited {
    text-decoration: none;
    color:lightslategrey;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    color:lightseagreen;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    padding: 5% 10% 5% 10%;
    background-color:lightgray;
}
img {
    max-width: 100%;
    min-width: 30%;
}


h1 {
    font-family:'Times New Roman', Times, serif ;
}

@media screen and (min-width:600px) {
    ul {
        margin: 7% 5% 0% 0%;
        display:grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    }
    
    #logo-header {
        grid-area:1 / 1;
        width: 30vw;
        height: 30vh;
        background-image: url("/img/logo-black.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        margin-right: 5%;
        }

li:nth-child(2) {
            align-self: center;
            grid-area: 1 / 2;            
        };
    
}
li:nth-child(3) {
    align-self: center;
    grid-area: 1 / 
    
}

li:nth-child(4) {
    align-self: center;
    grid-area: 1 / 
    
}


