body {
    display: grid;
    font-size: 100%;
}

header {
    margin:0;
}
nav {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    display:grid;
    list-style-type: none;
   margin: 5% 10% 5%;
   padding: 0;
   grid-template-areas: 
   "h h h"
   "c p s";
   grid-gap: 1vh;
  justify-items: center;
}


 /*ul {
    display:grid;
    list-style-type: none;
   margin: 5% 10% 5%;
   padding: 0;
   grid-template-columns: 1fr;
   grid-template-rows: 70% 30%;
   grid-gap: 1vh;
  justify-items: center;
}*/


#logo-header {
    grid-area: h;
    width:30vw;
    height:10vh;
    justify-self: center;
}

/*li:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    align-self: center;          
}

li:nth-child(3) {

align-self:center;
grid-column-start: 2;
grid-row-start: 2;

}

li:nth-child(4) {
align-self:center;
grid-column-start: 3;
grid-row-start: 2;
 
}*/

a:link {
    text-decoration: none;
    color:darkslategrey;
}

a:active {
    text-decoration: none;
    color:darkslategrey;
}

a:visited {
    text-decoration: none;
    color:lightslategrey;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
    color:lightseagreen;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    padding: 5% 10% 5% 10%;
    background-color:lightgray;
}
img {
    max-width: 100%;
    min-width: 30%;
}


h1 {
    font-family:'Times New Roman', Times, serif ;
}

@media screen and (min-width:600px) {
    ul {
        margin: 7% 5% 0% 0%;
        display:grid;
        grid-template-columns: 4fr 1fr 1fr 1fr;
      justify-content: baseline;
    }
    
    #logo-header {
        grid-area:1 /1 ;
        margin-right: 5%;
        align-self:flex-end;
        }

li:nth-child(2) {
            align-self:flex-end;
            grid-area: 1 ;            
        };
    
}
li:nth-child(3) {
    align-self:flex-end;
    grid-area: 1 
    
}

li:nth-child(4) {
    align-self:flex-end;
    grid-area: 1 / 4;
    
}


