
#product-grid {
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

main {
    margin-bottom: 10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkolivegreen;
    border-bottom: solid darkolivegreen;
    border-width: 0.5px;
}

.product-name {
    font-size:larger;
    font-weight:700;
}

.more-info-product {
    margin-top: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1px;
    font-size: medium;
    color:darkolivegreen;

}

.price {
    margin-top: 10px;
    font-weight: 550;
    
}


article.soldout img {
    opacity: 0.5;
}

article.soldout::before {
    content: "Sold out";
    position: absolute;
    background: black;
    color:white;
    font-weight: 600;
    padding:1rem;

}

article .discounted, 
article .price span {
    display:none
}

article.onsale .discounted {
 display: flex;
 justify-content: space-between;
 align-items: center ;
 font-weight: 550;
 margin-top: 0.1rem;
 margin-bottom: 0.3rem;
 padding-left: 0.5rem;
 background-color:#E8E8E0;
 border-radius: 5px;
}

.discounted p:first-child {
    color: darkolivegreen;
}

.discounted p:last-child {
    background-color: crimson;
    color:white;
    padding:0.3rem;
}

article.onsale .price span {
    display:initial;
}


