#product-card {
    display:grid;
    margin-bottom: 10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.info-product {
    padding-left: 5vw;
    padding-top: 1vh;
    padding-bottom: 10vh;
    background-color:lightslategrey;
    color:white;
    display: grid;
    grid-gap: 2vh;
}
.product-name {
    font-size:larger;
    font-weight:700;
    margin-top: 5vh;
    
}

.cta {
    background-color: white;
    border-radius: 10px;
    border-color: teal;
    color:black;
    font-weight: 700;
    text-align: center;
    width: 50%;
    padding: 5px 5px 5px 5px;
}

.cta:hover {
    background-color: white;
    opacity: 0.3;
}

.cta:visited {
    background-color: white;
    border-color: teal;
    color:black;
}

.price {
    font-weight: 700;
}

.product.soldout{
    opacity: 0.3;
    pointer-events: none;
}

.product.soldout::before {
    content: "Sold out";
    position: absolute;
    background: black;
    color:white;
    font-weight: 600;
    padding:1rem;

}

#sale {
    background-color: red;
    color:white;
    width: 5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;

}

@media screen and (min-width:700px) {
    .product {
        display:grid;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
}

.product-img {
    grid-column: 1;
}

.info-product {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 3vh;
    height: 50vh;
    background-color:lightslategrey;
    color:white;
}

.cta {
    background-color: white;
    border-radius: 10px;
    border-color: teal;
    color:black;
    font-weight: 600;
    text-align: center;
    width: 80%;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.cta:hover {
    background-color: white;
    opacity: 0.3;
}
