#product-grid {
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

main {
    margin-bottom: 10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.product {
    display: grid;
    grid-template-columns: 1fr, 1fr;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkolivegreen;
}

.product-name {
    font-size:larger;
    font-weight:700;
}

.more-info-product {
    margin-top: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1px;
    font-size: medium;
    color:darkolivegreen;

}

.price {
    margin-top: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 600;
    
}

.discount {
    color:crimson;
}


article.soldout {
    opacity: 0.5;
}
